name: sequelize_dart_monorepo
description: Monorepo for sequelize_dart packages - A Dart ORM for Sequelize.js.
version: 1.0.0

environment:
  sdk: ^3.9.2

# This is a monorepo - packages are in the packages/ directory
# - packages/sequelize_dart: Main package
# - packages/sequelize_dart_generator: Code generator package
# - example/: Example project

dev_dependencies:
  lints: ^6.0.0
